<header class="header-container">
  <!-- Menú izquierdo -->
  <div class="menu-izquierdo">
    <button class="menu-btn" (click)="toggleMenuLateral()">☰ Menú</button>
    <ul class="dropdown" [class.visible]="menuLateralAbierto">
      <li (click)="goTo('/reportes')">📊 Reportes</li>
      <li (click)="goTo('/usuarios')">📘 Contabilidad</li>
      <li (click)="goTo('/gestionroles')">🛠 Administración</li>
    </ul>
  </div>

  <!-- Título o nombre empresa -->
  <h1 class="titulo-app">{{ nombreEmpresa }}</h1>

  <!-- Menú derecho -->
  <div class="menu-derecho">
    <button class="avatar-btn avatar-circle" (click)="toggleMenuUsuario()">
      {{ iniciales }}
    </button>    
    <ul class="dropdown" [class.visible]="menuUsuarioAbierto">
      <li (click)="goTo('/perfil')">👥 Ir al Perfil</li>
      <li (click)="salir()">🔒 Cerrar sesión</li>
      
    </ul>
  </div>
</header>
