<div class="menu-container">
  <button class="menu-btn" (click)="goTo('/reportes')">📊 Reportes</button>
  <button class="menu-btn" (click)="goTo('/usuarios')">📘 Contabilidad</button>
  <button class="menu-btn" (click)="goTo('/cargas')">🛠 Administración</button>
  <button class="menu-btn" (click)="goTo('/perfil')">👤 Perfil</button>
</div>

<hr />

<button class="logout-btn" (click)="logOut()">🔒 Cerrar Sesión</button>

<p class="register-text">
  ¿Desea registrar un nuevo usuario?
  <a (click)="goToRegister()" class="register-link">Registro</a>
</p>
