<div class="login-wrapper">
 <div class="container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="form" (ngSubmit)="logIn()">
    <!-- Cédula -->
    <div class="form-group">
      <label for="cedula">Cédula de Identidad</label>
      <input
        type="text"
        id="cedula"
        formControlName="cedula"
        maxlength="10"
        pattern="[0-9]*"
        inputmode="numeric"
        placeholder="0102030405"
        required
        autofocus
      >
      <div *ngIf="form.get('cedula')?.touched && form.get('cedula')?.invalid">
        <small class="error" *ngIf="form.get('cedula')?.errors?.['required']">Este campo es obligatorio</small>
        <small class="error" *ngIf="form.get('cedula')?.errors?.['pattern']">Debe contener exactamente 10 dígitos</small>
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <label for="password">Contraseña</label>
      <div class="password-wrapper">
        <input
          [type]="hidePassword ? 'password' : 'text'"
          id="password"
          formControlName="password"
          required
        >
      </div>
      <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <small class="error">Este campo es obligatorio</small>
      </div>
    </div>

    <!-- Botón de ingreso -->
    <button type="submit" [disabled]="form.invalid">Ingresar</button>
  </form><br>

  <p>
    <button type="button" (click)="goToResetPassword()">Olvidé mi contraseña</button>
  </p>
</div>
</div> 
