




/* ========== HEADER RESPONSIVO ========== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #37474f;
  padding: 6px 23px;
  height: 61px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-family: tahoma;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  .home-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgb(248, 241, 241);
    font-weight: bold;
    font-size: 16px;

    &:hover {
      color: #1E90FF;
    }

    mat-icon {
      font-size: 25px;
      transition: color 0.3s ease;
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
    margin-left: auto;
    width: 160px;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    font-family: tahoma;

    li {
      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 10px;
        display: inline-block;
        transition: color 0.3s ease;

        &:hover {
          color: #1E90FF;
          border-bottom: 2px solid #1E90FF;
        }
      }
    }
  }

  &.abierto {
    display: block;

    .menu {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
      gap: 10px;
      font-family: tahoma;
    }
  }
}

/* ========== RESPONSIVE BREAKPOINTS ========== */
@media (max-width: 768px) {
  .navbar-brand {
    .menu-toggle {
      display: block;
    }
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    width: 240px; // ancho del panel
    top: 61px; // justo debajo del header
    left: 177px;
    flex-direction: column;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    &.abierto {
      display: block;
    }
  }

  nav .menu {
    flex-direction: column;
    background-color: #37474f;
    width: 100%;
    padding: 10px 20px;
  }

  nav .menu li a {
    padding: 10px;
    font-size: 16px;
  }
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}


#preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  z-index: 99999;

  .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    span {
      display: inline-block;
      background-color: #6195FF;
      width: 25px;
      height: 25px;
      animation: preload 1s ease-in-out infinite;
      transform: scale(0);
      border-radius: 50%;

      &:nth-child(1) { animation-delay: 0s; }
      &:nth-child(2) { animation-delay: 0.1s; }
      &:nth-child(3) { animation-delay: 0.15s; }
      &:nth-child(4) { animation-delay: 0.2s; }
    }
  }
}

@keyframes preload {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  100% { transform: scale(0); }
}

.estado-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.estado-card {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: tahoma;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin-top: 40px;

  h5 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .filtros {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    label {
      font-size: 14px;
    }

    input,
    button {
      padding: 0.4rem;
      border-radius: 5px;
      border: none;
      background-color: #f0f0f0;
    }

    button {
      background-color: #2f8071;
      color: white;
      cursor: pointer;
      font-weight: bold;
      margin-top: 0.5rem;

      &:hover {
        background-color: #244d45;
      }
    }
  }

  .btn-ver-modal {
    background-color: #6097df;
    color: white;
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #5881b6;
    }
  }
}

.estado-listado {
  margin-top: 1.5rem;

  .grupo {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1e1e1e;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;

    th,
    td {
      padding: 0.5rem;
      text-align: left;
     
    }

    .valor {
      text-align: right;
    }

    .total-row {
      font-weight: bold;
      background: rgba(255, 255, 255, 0.05);
      border-top: 2px solid #bbb;
    }
    td {color: #000;}
  }

  
}
.btn-pdf1 {
  width: 100%;
  margin-top: 1rem;
  background-color: #0d47a1;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #0b3d91;
  }
}
// MODAL
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 45, 45, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  overflow-y: auto;
  color: #1e1e1e;
  color: rgb(255, 255, 255);
  position: relative;

  h5 {
    margin-bottom: 1rem;
    text-align: center;
    color: #1e1e1e;
  }
} label{
  color: #000000;
  }

.cerrar {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  background: red;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.filtros-modal {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input {
    padding: 0.4rem;
    border-radius: 6px;
    border: none;
    background-color: #eee7e7;
  }

  button {
    padding: 0.4rem 0.8rem;
    background-color: #2f8071;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;

    &:hover {
      background-color: #356d63;
    }
  }
}

.lista-balances {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.balance-card {
  background-color: #444;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  color: white

  p {
    margin: 0.3rem 0;
  }

  a{
    background-color: #2f8071;
    color: white;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 4px;
    margin-top: 0.5rem;
    cursor: pointer;
    size: 100%;
    margin-right: 7px;

    &:hover {
      background-color: #4a8d81;
    }
  }

  button {
    background-color: #c62828;
    color: white;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 4px;
    margin-top: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #b71c1c;
    }
  }
}

.paginacion {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;

  button {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #888;
      cursor: default;
    }

    &:hover:not(:disabled) {
      background-color: #777;
    }
  }
}
@media (max-width: 600px) {
  .estado-listado table th,
  .estado-listado table td {
    font-size: 13px;
    padding: 6px;
  }
}
