<div class="container">
  <div class="mensaje-confirmacion">
    <div class="icono-estado">
      <mat-icon class="icono-check">check_circle</mat-icon>
    </div>

    <h2>
      <mat-icon>lock</mat-icon>
      Contraseña cambiada con éxito
    </h2>

    <p>Ahora puedes acceder con tu nueva contraseña.</p>

    <p class="mensaje-secundario">Redirigiendo al inicio de sesión...</p>

    <mat-progress-spinner
      diameter="40"
      color="primary"
      mode="indeterminate"
      class="spinner"
    ></mat-progress-spinner>

  </div>
</div>
