html, body {
    overflow-x: visible !important;
    height: 100%;
      //align-items: center;
      min-height: 100vh;
      //background-color: rgb(104, 104, 102);
      font-family: 'Segoe UI';
    
  }
 