<div class="perfil-container" *ngIf="!cargando">
    <h2>👤 Perfil</h2>
  
    <form (ngSubmit)="guardarCambios()">
      <!-- DATOS PERSONALES -->
      <div class="form-group">
        <label>Nombres</label>
        <input type="text" [value]="nombres" disabled />
      </div>
  
      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" [value]="apellidos" disabled />
      </div>
  
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" [(ngModel)]="correo" name="correo" required />
      </div>
     <!-- CONTRASEÑA ACTUAL -->
     <div class="divider">Cambio de contraseña</div>
     <div class="form-group">
<label for="contrasenaActual">Contraseña actual</label>
<div class="password-input">
  <input
    [type]="showCurrentPassword ? 'text' : 'password'"
    [(ngModel)]="contrasenaActual"
    name="contrasenaActual"
    id="contrasenaActual"
    placeholder="Ingresa tu contraseña actual"
  />
  <button type="button" (click)="showCurrentPassword = !showCurrentPassword">
    {{ showCurrentPassword ? '🙈' : '👁️' }}
  </button>
</div>
</div>
<!-- NUEVA CONTRASEÑA -->
<div class="form-group">
<label for="nuevaContrasena">Nueva contraseña</label>
<div class="password-input">
  <input
    [type]="showNewPassword ? 'text' : 'password'"
    [(ngModel)]="nuevaContrasena"
    name="nuevaContrasena"
    id="nuevaContrasena"
    placeholder="Escribe tu nueva contraseña"
  />
  <button type="button" (click)="showNewPassword = !showNewPassword">
    {{ showNewPassword ? '🙈' : '👁️' }}
  </button>
</div>
</div>


      <div class="form-actions">
        <button type="submit" class="btn-primary">Guardar cambios</button>
        <button type="button" class="btn-link" *ngIf="nuevaContrasena || contrasenaActual" (click)="cancelarCambioContrasena()">Cancelar cambio de contraseña</button>
        <button type="button" class="btn-secondary" (click)="volverAlMenu()">← Volver al menú</button>
      </div>
    </form>
  </div>
  
  <div *ngIf="cargando" class="loading">Cargando perfil...</div>
   